<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.apache.poi">
  <resources>

<resource-root path="poi-ooxml-3.9.jar"/>
<resource-root path="poi-3.9.jar"/>
<resource-root path="poi-ooxml-schemas-3.9.jar"/>

  </resources>
  <dependencies>

<module name="org.kie.lib" export="true"/>
<module name="org.slf4j.jcl-over-slf4j" export="true"/>
<module name="org.apache.commons.codec" export="true"/>
<module name="org.apache.commons.logging" export="true"/>
<module name="org.apache.xmlbeans" export="true"/>
<module name="org.dom4j" export="true"/>
<module name="org.jaxen" export="true"/>
<module name="org.junit" export="true"/>

  </dependencies>
</module>
