<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.kie">
  <resources>

<resource-root path="kie-internal-6.0.2-redhat-2.jar"/>
<resource-root path="kie-api-6.0.2-redhat-2.jar"/>
<resource-root path="kie-services-client-6.0.2-redhat-2.jar"/>
<resource-root path="kie-ci-6.0.2-redhat-2.jar"/>

  </resources>
  <dependencies>

<module name="org.apache.camel" export="true"/>
<module name="org.apache.helix" export="true"/>
<module name="org.drools" export="true"/>
<module name="org.eclipse.jgit" export="true"/>
<module name="org.mvel" export="true"/>
<module name="org.sonatype.maven" export="true"/>

  </dependencies>
</module>
